{% extends "layout.html" %}
{% load humanize %}
{% block content %}
<div><h1>{{post.title|title}}</h1></div>
<div>by {{post.author}}</div>
<hr>
<p>{{post.text}}</p>
<hr>
<div>Tags:{% for tag in post.get_tags %}
    <a href="/blog/tags/{{tag.pk}}"><span>#{{tag.name}}</span></a>
    {% endfor %}
</div>
<hr>
<div>Votes <span>{{post.get_votes}}</span></div>
<h3>Comments</h3>
<div>
    {% for comment in post.get_comments %}
    <div><span>@{{comment.author}}</span>::<b>{{comment}}</b> :: <span>{{comment.created_date}}</span></div>
    {% endfor %}
</div>
<div>
    <form method="post" action="">
        {% csrf_token %}
        {% for field in form %}
        {{ field.label_tag }} {{ field }}
        {% endfor %}
    </form>
</div>
{% endblock %}
